form {
  margin: 10vmin;
  width: 550px;
}

button {
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem;
}
button:focus,
button:hover {
  background-color: aqua;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#textFields {
  text-align: center;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  min-width: 900px;
  width: 3%;
}

fieldset {
  border: groove #45094f;
  border-radius: 2em;
  padding-bottom: 10px;
  padding-right: 10px;
  width: auto;
}

legend {
  color: #00008b;
}

#title {
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  min-width: 900px;
}
